$primary-bg-color: #282828;
$primary-text-color: #ffffff;
$primary-font-family: Helvetica !important;

$default-text-color-login: #ffffff;

$primary-text-color-login: #DB2828;

$primary-btn-bg-color-login: #DB2828;
$primary-btn-border-color-login: #DB2828;

$text-placeholder-color-login: #a8a8a8;

.text-default-rcti {
    color: $primary-text-color;
}

.navbar {
    position: static;
    background-color: $primary-bg-color;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    z-index: 999;
}
.topDownload{
	background-color: #fff;
	color:#000;
	padding:10px;
	text-align: center;
}
.logo-topDownload{
	width:15%;
	margin-top:-5px;
	float:left;
}
.topDownload-txt{
	float:left;
	width:70%;
	font-size: 12px;
	text-align: left;
	padding-left:5px;
	margin-top: -5px;
}
body {
    background-color: $primary-bg-color;
    font-family: $primary-font-family;
}

.logo-top-wrapper {
    width: 35%;
    margin-top: -5px;
}

.logo-top {
    width: 100%;
}

.left-top-link {
    float: left;
    width: 45%;
}

.right-top-link {
    float: right;
    width: 45%;
    text-align: right;
    margin-right: -15px !important;
}

.btn-link-top-nav {
    font-size: 10px;
}

.footer-wrapper-list {
    width: 20%;
    display: inline-block;
    text-align: center;
}

.wrapper-content {
    padding-top: 5%;
    z-index: 99999;
    color: #fff;
    margin-left: 1%;
    margin-right: 1%;
}

.form-group {
    margin-bottom: 2rem;
}

.btn-next {
    width: 100%;
    background-color: #fa262f !important;
    border: 1px solid transparent;
    border-radius: 12px;
}

.btn-primary-edit {
    border-radius: 0;
    color: white;
    border-radius: 6px;
    padding: 3px;
}

.btn-link-edit {
    border: none;
}

.btn-outline {
    background-color: transparent !important;
    color: #0079ff !important;
    font-size: 0.875rem !important;
    padding: 0.25rem 0.5rem;
    margin: 10px;
}

/*
* font - size custom
*/

.fnt-8 {
    font-size: 8px;
    ;
}

.fnt-9 {
    font-size: 9px;
    ;
}

.fnt-10 {
    font-size: 10px;
    ;
}

.fnt-11 {
    font-size: 11px;
    ;
}

.fnt-12 {
    font-size: 12px;
    ;
}

/*
* custom margin
*/
.el-margin-10 {
    margin: 20px;
}

.el-margin-20 {
    margin: 20px;
}

.el-margin-30 {
    margin: 20px;
}

/*
* custom color
*/
.el-white {
    color: white;
}

.el-grey {
    color: grey;
}

.el-red {
    color: #DB2828;
}

.el-green {
    color: green;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.border-rounder-5 {
    border-radius: 5px
}

.text-red {
    color: #f44336 !important;
}

.bg-color-white {
    background-color: #fff;
}

.name {
    color: #fff;
}

.thumbs-wrapper .carousel-status {
    display: none;
}

.stories-wrapper {
    padding: 4%;
    width: 100%;
    color: #fff;
}

.content-wrapper {
    padding: 1%;
    height: 100%;
}

.content-title {
    padding-left: 10px;
    color: #fff;
    font-size: 14px;
    text-align: left!important;
}

.content {
    margin: 10px;
}

.img-content-title {
    width: 100%;
}

.content-sub-title {
    color: #fff;
    font-size: 10px;
}

.header-user-profile {
    padding: 10px;
    padding-left: 20px;
    background-color: #3a3a3a;
    color: $primary-text-color;
    font-size: 18px;
}

.header-user-profle-title {
    padding: 10px;
    position: absolute;
    margin-top: -5px;
}

.list-group-item {
    color: #fff;
    background-color: $primary-bg-color;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid #171717;
}


.content-tab-exclusive {
    padding: 2%;
}

.thumbs-wrapper {
    display: none;
}

.homepage-content-hll {
    padding: 10px;
    width: 100%;
}

.wrapper {
    // height: calc(100vh - 40px);
    padding-bottom: 22px;
}

.pnl_2 {
    width: 50%;
}

#pnl_horizontal_landscape .carousel .slide {
    min-width: 35%;
    max-width: 35%;
    height: 100%;
    margin: 3px;
    position: relative;
    text-align: center;
    background: #171717;
}

.pnl_horizontal_landscape .swiper-container {
    overflow: auto;
    white-space: nowrap;
    display: block;
    scrollbar-width: none;

    .swiper-slide {
        max-width: 100px;
        min-width: 100px;
        height: 100%;
        margin: 3px;
        position: relative;
        text-align: center;
        background: #171717;
        display: inline-block;

        img {
            width: 100%;
        }
    }
}

.horizontal_landscape_large .swiper-container {
    overflow: auto;
    white-space: nowrap;
    display: block;
    scrollbar-width: none;

    .swiper-slide {
        height: 100%;
        margin: 3px;
        position: relative;
        text-align: center;
        background: #171717;
        display: inline-block;
        
        img {
            width: 100%;
        }
    }
}

.pnl_horizontal_landscape .swiper-container::-webkit-scrollbar, 
.horizontal_landscape_large .swiper-container::-webkit-scrollbar {
    display: none;
}

#pnl_horizontal .carousel .slide {
    min-width: 35%;
    height: 100%;
    margin: 3px;
    position: relative;
    text-align: center;
    background: #171717;
    max-height: 167px;
    min-height: 167px;
}

h5 {
    font-size: 14px;
}

.homepage-content {
    margin-bottom: 20px;

    img {
        border-radius: 3px;
        object-fit: cover;
    }
}

.txt-slider-panel {
    color: #fff;
    border-left: 1px solid #DB2828;
    border-left-width: 2px;
    margin: 10px;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
    max-height: 46px;
    min-height: 46px;
    overflow: hidden;

    p {
        margin-bottom: 0;
    }
}

.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
	width:100%
}
.birthdate {
    border-radius: 5px;
    padding: 5px;
	color: white;
	background: transparent;
	width:100%;
}
.btn-next-position{
	width:100%;
	text-align: center;
	margin-bottom:10%;
}
.inpt-form{
	
    background-color: transparent;
	color:#fff;
}
.inpt-form-token-code{
	width: 18%;
	margin:14px;
	text-align: center;
	font-size: 52px;
    display: inline;
    background-color: transparent;
    border-color: transparent;
	border-bottom: solid;
	color:#fff;
}
.lbl_rsndcode{
	width:100%;
	margin:0px auto;
	text-align:center;
	color:#fff;
}
.time-resendcode{
	color:#DB2828 !important;
}
.header-nav-verif{
	color: #fff;
	// width: 80%;
	float: right;
	text-align: center;
	position: static;
}

.header-nav-verif p {
    margin-top: 10px;
}

.no-bg {
    background-color: transparent;
    border-left: none;
}

.no-connection {
    width: 100%;
    background-color: red;
    position: fixed;
    z-index: 9;
    margin: 0;
    color: white;
    font-size: 11px;
    height: 15px;
    transform: translateY(-16px);
    transition: transform 1s;
}

.no-connection-open {
    transform: translateY(8px);
}

.no-connection-closed {
    transform: translateY(-16px);
}

.icn_success{
	padding-top:100px;
	padding-bottom: 100px;
}
.choose_interest{
	color:#fff;
}
.txt-content-interest{
	color:#fff;
	font-size: 12px ;
	padding:30px;
}
.interest-list{
	padding:20px;
	color:#fff;
}
.ls-inter{
	width:100%;
}
.list-detail-interest{
	text-align: center;
	margin:0px auto;
	width:100%;
}
.btn-outline-secondary{
	margin-left:22px;
	margin-right:12px;
	margin-bottom:10px;
	width:39%;
}

.nav-container {
    height: 55px;
    z-index: 1030 !important;
    transition: background 0.3s;
}

.nav-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.nav-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.stories.carousel .story>.item-link>.item-preview {
    height: 90px;
    width: 90px;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #495057;
}

.right-menu {
    display: inline;
    color: white;
    margin-right: 0;
}

.right-menu .btn-secondary, .right-menu .button-secondary:hover, .right-menu .btn-secondary:not(:disabled):not(.disabled):active {
    background: transparent;
    border: none ;
}

.right-menu .dropdown-menu {
    background-color: #393939;
}

.right-menu .dropdown-item {
    color: white;
}

.default-loader {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.loader-fade {
    background-color: transparent;
}