$primary-bg-color: #282828;
$primary-text-color: #979797;
$primary-font-family: Helvetica!important;
body{
	background-color: $primary-bg-color;
	font-family: $primary-font-family;
}
.logo-top-wrapper{
	width:25%;
}
.logo-top{
	width:100%;
}
.left-top-link{
	float:left;
	width:45%;
}
.right-top-link{
	float:right;
	width:45%;
	text-align:right;
}
.btn-link-top-nav{
	font-size:10px;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.1rem; 
    padding-bottom: 0.1rem; 
    margin-right: 1rem;
    font-size: 0.75rem; 
    line-height: inherit;
    white-space: nowrap;
}
.title{
	color:#fff;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
	width: 50%;
	text-align: center;
	color:#fff important;
}
.nav-tab-wrapper{
	width:100%;
}
.nav-tabs .nav-link {
    border: 1px none transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	border-bottom:1px solid red;
}

.login-box {
	margin:0px auto;
    background-color: $primary-bg-color;
    color: $primary-text-color;
    width: 90%;
    height: 500px;
    object-fit: contain;
    border-radius: 30px;
	padding: 20px;
}

.login-box > h3 {
    text-align: center;
}
.btn-next{
	width: 100%;
	background-color: #fa262f;
	border:1px solid transparent;
	border-radius:8px;
}
.frmInput1{
	padding-top:40px;
}
.inpt-form{
	background: transparent;
}