// .jw-icon-rewind {
//   opacity: 0 !important;
// }
.animated {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.rplus-jw-container {
  min-height: 180px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.jwplayer {
  &.jw-skin-rplus_player {
    text-align: left;
    .jw-display-icon-next {
      visibility: visible !important;
    }
    .jw-controlbar {
      .jw-buffer {
        background: #c50000;
        opacity: 0.5;
      }
      .jw-progress {
        background-color: #c50000;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          background-color: #c50000;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 100%;
        }
      }
      .jw-icon-tooltip {
        position: relative;
      }
    }
    .jwplayer-vol-off {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      margin-left: 14px !important;
      margin-top: 55px !important;
      background: rgba(0, 0, 0, 0.5) !important;
      font-size: 12px !important;
      padding: 5px 10px !important;
      border-radius: 3px !important;
    }

    .jwplayer-full {
      display: none !important;
    }

    .jwplayer-mute {
      display: block !important;
    }
  }

  &.jw-flag-live {
    .jw-display-icon-rewind {
      visibility: unset !important;
    }
  }
}

/*************
* FadeInRight *
*************/

@-webkit-keyframes fadeInRight {
  0% {
      opacity: 1;
      -webkit-transform: translateX(0);
  }
  50%{
     opacity: 0.3;
  }
  100% {
      opacity: 0;
      -webkit-transform: translateX(50px);
  }
}
@keyframes fadeInRight {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  50%{
     opacity: 0.3;
  }
  100% {
      opacity: 0;
      transform: translateX(50px);
  }
}
.fadeInRight{
  opacity: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.fadeInRight.go {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.jw-ads-overlay{
  width:100%;
  position: absolute;

  .jw-overlay-wrapper{
    margin: 0 auto;
    position: relative;
    background: white;

    .jw-close-overlay{
      border-radius: 180px;
      background: black;
      position: absolute;
      top: -12.5px;
      right: -12.5px;
      color: white;
      display: flex;
      align-items: center;
      border: 1px solid grey;
    }
  }

}

@media screen and (orientation:portrait) {
  .jw-overlay-wrapper {
    width: 320px;
    height: 50px;
  }
}

.jwplayer-action {
  background: #0000006e !important;
  animation: none;
  border-radius: 100%;
  margin: 0;
  height: 300px !important;
  width: 180px !important;
  padding: 1rem;
  opacity: 0;
  
  &.forward {
    justify-content: flex-start !important;
  }
  
  &.backward {
    justify-content: flex-end !important;
  }

  &.fading {
    animation: opacity 2s;
    animation-play-state: running;
  }
}

@keyframes opacity {
  from { opacity: 1; }
  to { opacity: 0; }
}

@media screen and (orientation:landscape) {
  .jw-overlay-wrapper {
    width: 468px;
    height: 60px;
  }
}
