$primary-bg-color: #282828;
$primary-text-color: #ffffff;

.login-box {
    background-color: $primary-bg-color;
    color: $primary-text-color;
    width: 80%;
    height: 500px;
    object-fit: contain;
    border-radius: 30px;
	padding: 20px;
	margin:0px auto;
}

.login-box > h3 {
    text-align: center;
}