.action-modal {
    .modal-content {
        background-color: rgba(40, 40, 40, 0.65);
    }

    .modal-body {
        padding-top: 45% !important;
    }
}

.modal-body {
    text-align: center;
}

.modal-icon {
    border-radius: 100%;
    padding: 25px;
    width: 100px !important;
    height: 100px !important;
    margin: 15px;
}

.close-container {
    position: fixed;
    bottom: 0;
    margin-bottom: 35px;
    left: 50%;
    transform: translate(-50%, 0);
}

.close-icon {
    width: 60px !important;
    height: 60px !important;
}