.swal2-title {
	color: #d6d6d6 !important;
}

.swal2-popup {
	background-color: #282828 !important;
}

.swal2-content {
	color: #d6d6d6 !important;
}

.btn-cancel {
	background-color: #3a3a3a !important;
	color: white;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 10px;
	padding: 3px;
	border-radius: 5px;
}

.swal2-confirm, .swal2-cancel, .swal2-cancel-custom {
	margin-top: 15px !important;
	width: 85%;
}

.swal2-cancel-custom {
	background: transparent;
	border: transparent;
	color: #127ceb;
}