@import '../svg_icons.scss';

$primary-bg-color: #282828;
$primary-text-color: #979797;
$primary-font-family: Helvetica !important;
$default-text-color-login: #eee;
$primary-text-color-login: #DB2828;
$primary-btn-bg-color-login: #DB2828;
$primary-btn-border-color-login: #DB2828;
$text-placeholder-color-login: #a8a8a8;

.container-box {
    margin: 0px auto !important;
    background-color: $primary-bg-color !important;
    color: $primary-text-color !important;
    width: 90% !important;
    height: 500px !important;
    object-fit: contain !important;
    border-radius: 30px !important;
    padding: 20px !important;
    margin-top: 70px !important;
}

.form-control {
    border-radius: 0 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom-width: 1.5px !important;
    background: transparent !important;
    border-color: #495057 !important;
    color: $default-text-color-login !important;
}

.form-control:hover {
    box-shadow: none !important;
    background: transparent !important;
}

.form-text {
    text-align: left !important;
    color: $default-text-color-login !important;
    font-size: 12px !important;
}

.form-text ul {
    padding-left: 15px !important;
}

.form-label {
    color: $default-text-color-login;
}

.addon {
    padding: 6px !important;
    border-color: #495057 !important;
    background: transparent !important;
    color: $default-text-color-login !important;
}

.addon-left {
    @extend .addon;
    border-right-color: transparent !important;
}