.container-box-cw {
    margin-top: 50px;
    background-color: #3a3a3a;
    margin-right: 0;

    .header-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px;
        font-size: 12px;
        -webkit-box-pack: justify;
        -webkit-box-align: center;
        background-color: #282828;
    }
    
    .header-list .dropdown-toggle::before {
        display: inline-block;
        margin-right: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent; 
    }
    
    .header-list .dropdown-toggle::after {
        display: inline-block;
        color: transparent;
        margin: 0;
        border: none; 
    }
    
    .header-list .dropdown-toggle {
        background: transparent;
        font-size: 12px;
    }
    
    .header-subtitle {
        margin: 0;
    }

    .list-content {
        margin-top: 10px;
        font-size: 0.8rem;
        padding: 5px 10px;

        .row {
            height: 123px;
            padding-left: 10px;
        }

        .col-6 {
            padding: 6px;
        }

        .list-item-thumbnail {
            max-width: 100%;
            border-radius: 6px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
                        0 2px 2px rgba(0, 0, 0, 0.14),
                        0 3px 1px -2px rgba(0, 0, 0, 0.12);
            background-color: #171717;
        }

        .item-title {
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
        }

        .item-subtitle {
            line-height: 0.5;
            color: #fa262f;
            margin-bottom: 0.5rem;
        }

        .item-action-buttons {
            display: flex;
            justify-content: space-between;

            .action-button {
                margin: 10px;
                text-align: center;
                font-size: 9px;
    
                .action-icon {
                    font-size: 1.2rem !important;
                }
            }
        }

        
    }
    
}