.player-container {
    height: 100%;
    padding-top: 35%;

    .vjs-seek-button {
        position: absolute !important;
        display: none;
        bottom: 80px;
        transform: scale(2);
    }

    .vjs-seek-button:hover {
        display: block;
    }

    .skip-back {
        left: 30%;
    }

    .skip-forward {
        left: 60%;
    }
}

.back-btn {
    color: white;
    margin: 15px;
    font-size: 1.4rem;
    font-weight: 400;
}