.countdown {
  background: white;
  min-width: 160px;
  border-radius: 10px;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  width: fit-content;
  width: -moz-fit-content;

  & > p {
    margin: 0;
    font-size: 12px;

    &:first-child {
      color: #6D7278;
      margin-right: 2px;
    }
    &:nth-child(2) {
      color: #FA262F;
      font-weight: bold;
    }
  }
}