$blur: 8px;
$jumbotron-height: 560px;

.bg-jumbotron {
    filter: blur($blur);
    -webkit-filter: blur($blur);
    height: $jumbotron-height - 75;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: $jumbotron-height - 5;
    top: 0;
    margin: 0;
    color: white;
    // background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(rgba(88, 88, 88, 0.27) 0px, rgba(88, 88, 88, 0.76) 51%, rgb(0, 0, 0));
    padding: 20px;
    padding-top: 40px;
    box-shadow: none;
}

.watch-button-container {
    text-align: center;
    margin-top: 10px;
}

.watch-button {
    border: 1.5px solid white;
    background: none;
}

.watch-button:hover {
    @extend .watch-button;
}

.content-thumbnail {
    width: 53.5%;
    margin: 0 auto;
    text-align: center;
}

.content-thumbnail-image {
    width: 130px;
    height: 195px;
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
                0 2px 2px rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.content-title-detail {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

.content-genre {
    margin-top: -10px;
    font-size: 9px;
    text-align: center;
}

.content-description {
    font-size: 9px;
    text-align: justify;
}


.action-icon {
    font-size: 1.2rem !important;
}

.action-icon__playlist-check {
    color: #0e519f;
}

.action-button {
    display: inline-block;
    margin-right: 26px;
    margin-left: 16px;
    text-align: center;
    font-size: 9px;
}

.list-box {
    color: white;
    padding: 20px;
    margin-top: 75px;
    background-color: rgb(23, 23, 23);
}

.list-menu {
    overflow: auto;
    white-space: nowrap;
    display: block;
    scrollbar-width: none;
}

.list-menu::-webkit-scrollbar {
    display: none;
}

.list-content {
    margin-top: 10px;
    font-size: 0.8rem;
    padding: 10px;
}

.list-footer {
    text-align: center;
}

.list-expand {
    font-weight: bold;
}

.menu-title {
    font-size: 11px;
    display: inline-block;
    margin-bottom: -1px;
    width: 25% !important;
}

.col {
    padding-left: 0;
}

.item-action-buttons .action-button {
    margin: 10px;
}

.item-action-buttons {
    margin-top: -10px;
}

.item-title {
    font-size: 12px;
    font-weight: bold;
}

.item-description {
    font-size: 11px;
    text-align: justify;
    margin-bottom: 25px;
    margin-top: 5px;
}

.show-more-button {
    background-color: #515151;
    border: none;
    margin: 0 auto;
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
}

.show-more-button:hover {
    background-color: #515151;
    border: none;
    box-shadow: none;
}

.show-more-button svg {
    font-size: 1.2rem;
}

.related-box {
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 20px;
    margin-bottom: 10px;
}

.related-title {
    display: inline-block;
}

.related-subtitle {
    font-size: 9px;
    text-align: right;
    margin-top: -30px;
}

.related-slider {
    margin-right: -20px;
    margin-left: -15px;
}

.related-box {
    .carousel-slider {
        .slide {
            width: 83px;
            height: 131px;
        }
    }
}


.related-program-thumbnail {
    max-height: 131px;
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
                0 2px 2px rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.related-slider .slide {
    min-width: 100px;
    max-width: 100px;
    height: 130px;
    margin: 3px;
    position: relative;
    text-align: center;
    background: #171717;
}

.list-item-thumbnail {
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
                0 2px 2px rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.list-item-photo {
    margin: 5px;
}

.list-content .col-6 {
    padding-left: 0;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    color: #fff !important;
    border: none;
    border-bottom: 2px solid #fa262f !important;
}

.img-icon {
    color: white;
    position: absolute;
    top: 15%;
    left: 85%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 1rem !important;
}