$primary-bg-color: #282828;
$primary-text-color: #979797;
$default-text-color-login: #eee;

.container-box-ep {
    margin: 0px auto;
    background-color: $primary-bg-color;
    color: $primary-text-color;
    width: 95%;
    // height: 500px;
    object-fit: contain;
    border-radius: 30px;
    padding: 20px;
    margin-top: 70px;
}

.form-control-ep {
    border-radius: 0;
    background: transparent !important;
    border-color: #495057 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    color: #a8a8a8 !important;
    padding: 0;
}

.form-control-ep:hover {
    background: transparent;
}

.form-label-ep {
    margin: 0;
    font-size: 12px;
    color: white;
}

.react-datepicker {
    background-color: #282828;
    border-color: #282828;
}

.form-control-ep > option {
    background-color: #171717;
    border-color: #171717;
}

.react-datepicker__header {
    @extend .react-datepicker;
}

.react-datepicker__day {
    color: #ffffff;
}

.react-datepicker__day-name, .react-datepicker__current-month, .react-datepicker__year-read-view--selected-year {
    @extend .react-datepicker__day;
}

.react-datepicker__year-read-view--selected-year {
    margin: 5px;
}

.react-datepicker__day--selected {
    background-color: #DB2828;
}

.react-datepicker__input-container > input {
    @extend .form-control-ep;
    width: 100%;
    border-bottom-width: 1px;
}

.react-datepicker__input-container > input:hover {
    background: transparent;
}

.profile-photo-container {
    text-align: center;
}

.profile-photo {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.profile-photo-button {
    background-color: #DB2828;
    color: white;
    padding: 3px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}