@import url('https://fonts.cdnfonts.com/css/gotham');

.container-box-e {
  margin-top: 50px;
  padding-top: 5%;
  z-index: 9999;
  color: white;

  .interest-swiper-container {
    overflow: auto;
    white-space: nowrap;
    display: block;
    scrollbar-width: none;

    .swiper-slide {
      height: 48px;
      width: 83px;
      margin: 3px;
      position: relative;
      text-align: center;
      background: #171717;
      display: inline-block;
      border-radius: 3px;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
      }

      .bg-black {
        background-color: black;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }

      .slide-title {
        font-size: 8px;
        font-weight: 300;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0;
        bottom: 5px;
        border-bottom: 1px solid transparent;
      }

      .selected-slide-title {
        border-bottom: 1px solid white;
      }
    }
  }

  .interest-swiper-container::-webkit-scrollbar {
    display: none;
  }

  .content-search {
    background-color: #3a3a3a;
    padding: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;

    .header-list {
      .title {
        font-size: 12px;
      }
    }

    .content-list {
      .new-label {
        position: absolute;
        padding: 3px 10px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 3px;
        background-color: #02bcff;
        font-size: 10px;
      }
      .row {
        margin-left: 3px;
        margin-right: 3px;

        div[class*="col-"] {
          padding: 3px;

          .content-image {
            width: 100%;
            background-color: #171717;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

#library-revamp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF200;
  height: 100vh;
  padding-bottom: 60px;

  .containerWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 32px 0;
    width: 100vw;

    .contentWrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-evenly;

      .contentTextWrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 28px;
        width: 100%;
        
        .contentText {
          color: #0F0F0F;
          font-family: 'Gotham', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          text-align: center;
          margin-bottom: 0;
          margin-block-end: 0;
        }
        
        .contentTextBold {
          color: #0F0F0F;
          font-family: 'Gotham Black', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 18px;
          text-align: center;
          margin-bottom: 0;
          margin-block-end: 0;
        }
      }
  
      .comingSoon {
        color: #0F0F0F;
        font-family: 'Gotham', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.04em;
        line-height: 34px;
        padding: 0 16px;
        text-align: center;        
      }
    }
  }
  
  button {
    background: #0F0F0F;
    border: none;
    border-radius: 9999px;
    font-family: 'Gotham Black', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.44px;
    line-height: 24px;
    color: #FFF200;
    outline: none;
    padding: 12px 16px;
    text-align: center;        
    text-transform: uppercase;
    width: 100%;
  }
}
