.nav-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: #171717;
}

.nav-footer-icon {
    color: #fff;
}