.nav-footer-v2 {
    position: fixed;
    bottom: 0px;
    // left: 0px;
    align-items: center;
    justify-content: space-between;
    padding: 2px 1rem;
    width: 100%;
    background-color: #171717;
    z-index: 10;
    height: 50px;
    display: flex;

    .footer-wrapper-list {
        font-size: 10px;
        text-transform: capitalize;
        
        a {
            text-decoration: none;
            color: #8f8f8f;
            font-weight: 300;
            font-family: Helvetica;
        }
    
        .nav-footer-icon {
            color: #8f8f8f;
            width: 23px;
            margin-bottom: 3px;
        }

        .nav-footer-icon-active {
            color: white;
        }

        .ribbon {
            position: absolute;
            top: 0;
            right: 30%;
            width: 8px;
            height: 8px;
            border-radius: 100%;
        }
    }
}

