.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1.3rem;
    font-size: 1rem;
	line-height: inherit;
	text-align: right;
    white-space: nowrap;
}

.swal2-popup {
	background-color: #282828;
}

.swal2-content {
	color: #d6d6d6 !important;
}

.btn-cancel {
	background-color: #3a3a3a !important;
	color: white;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 10px;
	padding: 3px;
	border-radius: 5px;
}