.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1.3rem;
    font-size: 1rem;
	line-height: inherit;
	text-align: right;
    white-space: nowrap;
}
ul#exclusive .exclusive-item{
	margin-bottom: -1px;
	width: auto;
	text-align: center;
	color: #fff important;
	font-size:11px;
}

ul#trending .exclusive-item{
	margin-bottom: -1px;
	width: auto;
	text-align: center;
	color: #fff important;
	font-size:11px;
}