a{
  &:hover{
    text-decoration: underline transparent;
    color: transparent;
  }
  .horizontal-tags {
    background: linear-gradient(146.31deg, #05B5F5 14.04%, #0079FF 88.41%);
    height: 48px;
    width: 168px;
    margin-right: 8px;
    padding: 12px 16px;
    border-radius: 8px;
    text-align: center;

    &_text{
      font-family: inherit;
      font-style: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1.25px;
      color: #ffffff;

    }
  }

}



//.swiper-slide{
//  width: auto!important;
//}

.section-h2 {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 0 13px;
  margin: 0;
}


.mb-35{
  margin-bottom: 35px;
}
