.jwplayer {
    .jwplayer-display-container {
        display: flex;
        height: 100%;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        justify-content: center;
    }
}

.tv-wrap {
    background-color: #171717;
    padding: 5px;

    .row {
        margin-right: -5px;

        div[class*=col-] {
            padding-right: 0;
            padding-left: 0;

            .btn {
                color: white;
            }

            .btn-link:hover {
                text-decoration: none;
            }

            .selected {
                font-size: 15px;
                font-weight: bold;
                border-bottom: 2px solid #0e519f;
            }
        }
    }
}

.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    border-bottom: 1px solid #606060;

    .nav-item {   
        text-transform: capitalize;
        width: 50%;
        padding: 6px 10px;
        text-align: center;
        font-size: 12px;
        padding: 6px 10px;

        .nav-link:hover {
            border: none;
        }
    }

    .nav-link {
        padding: 0;
        color: white !important;
    }

    .selected {
        border-bottom: 2px solid #d42a31;
    }
}

.live-chat-wrap {
    position: fixed;
    bottom: 47px;
    background-color: black;
    left: 0;
    right: 0;
    z-index: 6;
    height: 43px;
    transition-property: height;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;

    .box-chat {
        .chat-messages {
            padding-top: 10px;
            height: 100%;
            padding-bottom: 100px;
            overflow-y: scroll;

            .chat-line {
                padding: 0;
                background-color: #282828;
                margin: 15px 2px;
    
                .col-10 {
                    padding-left: 0;
                }

                .chat-avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    object-fit: cover;
                    background-color: #737373;
                }
                .chat-message {
                    line-height: 1;

                    .timeago {
                        font-size: 10px;
                        color: #757575
                    }
                    .username {
                        color: #fff;
                        font-size: 12px;
                        opacity: .8;
                        font-weight: 300;
                    }
                    .message {
                        margin-left: 10px;
                        color: #fff;
                        font-size: 11px;
                        opacity: .8;
                        font-weight: 300;
                    }
                }
            }
            
            .chat-line:last-child {
                margin-bottom: 10px;
            }
        }
    }

    .btn {
        color: white;
        padding: 8px 15px;
        font-size: 14px;
    }

    .btn-link:hover {
        text-decoration: none;
    }

    .indicator-dot {
        font-size: 0.7rem;
        color: #7ed321;
        margin-left: 5px;
    }

    .expand-icon {
        transition-property: transform;
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }

    .chat-input-box {
        position: absolute;

        .chat-box {
            padding: 5px 10px;
            width: 100%;

            

            .emoji-button {
                padding: 0;
                margin-left: 15px;
                background: transparent;
                border: transparent;
            }

            .emoji-button:focus {
                box-shadow: none;
            }

            .col-9 {
                padding-right: 0;
                padding-left: 0;
                margin-left: 10px;
                .chat-input {
                    background: transparent;
                    border: transparent;
                    color: white;
                    overflow-y: hidden;
                    height: 24px;
                    padding-top: 0;
                }

                .chat-input::-webkit-resizer {
                    display: none;
                }
            }

            .col-1 {
                padding-right: 5px;
                padding-left: 0;
            }

            .send-button {
                padding: 0;
                background: transparent;
                border: transparent;
            }

            .send-button:focus {
                box-shadow: none;
            }
        }
    }

    .emoji-mart {
        width: 100% !important;
        border: 0;
        position: relative;
        overflow:hidden;
        color:#fff;
        border-radius: 0;
        background: #303030;
        transition-property: all;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    .emoji-mart-open {
        max-height: 300px;
        height:300px;
        overflow:hidden;
        transition-property: all;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

}

.live-chat-wrap-open {
    max-height: calc(100vh - 200px);
    height: calc(100vh - 200px);
    bottom: 0;
    z-index: 7;
    overflow: hidden;

    .expand-icon {
        transform: rotate(180deg);
    }

    .box-chat {
        height: calc(100vh - 253px);
        position: relative;
        padding: 0;
        background-color: #282828;

        .chat-input-box {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 6;
            margin-bottom: 7px;
            padding-top: 5px;
            padding-bottom: 10px;
            background: #171717;

            .chat-box {
                padding: 5px 10px;
                width: 100%;

                .emoji-button {
                    padding: 0;
                    margin-left: 15px;
                    background: transparent;
                    border: transparent;
                }

                .emoji-button:focus {
                    box-shadow: none;
                }

                .col-9 {
                    padding-right: 0;
                    padding-left: 0;
                    margin-left: 10px;
                    .chat-input {
                        background: transparent;
                        border: transparent;
                        color: white;
                        overflow-y: hidden;
                        height: 24px;
                        padding-top: 0;
                    }

                    .chat-input::-webkit-resizer {
                        display: none;
                    }
                }

                .col-1 {
                    padding-right: 5px;
                    padding-left: 0;
                }

                .send-button {
                    padding: 0;
                    background: transparent;
                    border: transparent;
                }

                .send-button:focus {
                    box-shadow: none;
                }
            }
        }

        .emoji-mart {
            width: 100% !important;
            border: 0;
            position: relative;
            overflow:hidden;
            color:#fff;
            border-radius: 0;
            background: #303030;
            transition-property: all;
            transition-duration: .6s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }

        .emoji-mart-open {
            max-height: 300px;
            height:300px;
            overflow:hidden;
            transition-property: all;
            transition-duration: .6s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
    }
}

.tab-content {
    .program-item {
        padding: 12px 0px;
        -webkit-box-align: start;
        align-items: flex-start;
        display: flex;
        min-height: 40px;
        border-bottom: 1px solid #171717;
        margin-left: 0;

        .title {
            font-size: 12px;
            .MuiSvgIcon-root {
                font-size: 0.6rem;
                color: #7ed321;
                margin-left: 10px;
            }
        }

        .subtitle {
            font-size: 10px;
            color: #757575;
        }

        .right-side {
            text-align: center;
            .share-btn {
                font-size: 1.2rem;
            }
        }
    }

    .selected {
        background: #3a3a3a;
    }
}

.tab-content-wrap {
    height: calc(100vh - 340px);
    overflow: hidden;
    overflow-y: visible;
}

#live-tv-player {
    .jw-wrapper{
        bottom: 0 !important;
        position: absolute;
        top: 0;
        max-width: 100% !important;
        z-index: 5;
    }

    .jw-reset {
        max-width: 100%;
    }
}

.catch-up-wrapper {
    padding-top: 10px;

    .catchup-dropdown-menu {
        width: 100%;
        text-align: center;

        .btn {
            color: white;
        }
    
        .btn-link:hover, .btn-link:focus {
            text-decoration: none;
        }

    }
    
}

.modal-body {
    padding-top: 0;
    text-align: center;

    .season-list {
        height: 80%;
    }
}
