.modal-dialog {
    margin: auto;

    .modal-body-edited {
        padding: 0rem !important;
        padding-top: 40% !important;
    }
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 0rem;
    // padding-top: 45%;
}

.modal-content {
    height: 100vh;
    border-radius: 0;
    background-color: #282828;
    color: white;
}


.player-modal {
    .modal-header {
        button {
            color: white !important;
            font-weight: 0 !important;
            opacity: 1 !important;
        }
    }

    .player-modal-container {
        .vjs-seek-button {
            position: absolute !important;
            display: none;
            bottom: 80px;
            transform: scale(2);
        }
    
        .vjs-seek-button:hover {
            display: block;
        }
    
        // .skip-back {
        //     left: 30%;
        // }
    
        // .skip-forward {
        //     left: 60%;
        // }
    }
}

.country-list-modal {
    margin: 0;
    position: fixed;
    font-size: 12px;
    .modal-content {
        border: none;
        border-radius: 0;
        width: 100vw;
        height: 100%;
        background: #282828;
        color: #ffffff;
        .navbar-header {
            background: #3a3a3a;
            display: flex;
            height: 46px;
            align-items: center;
            // position: fixed;
            width: 100vw;
            z-index: 1;
            .back-icon {
                width: 15%;
                padding: 10px;
            }
            .input-search {
                border: 0;
                background: none;
                border-radius: 0;
                padding: 0;
                background-color: #3a3a3a !important;
            }
            .flex-display {
                width: 100%;
                display: flex;
                align-items: center;
                .search-text {
                    width: 85%;
                }
                .search-action {
                    width: 15%;
                    text-align: center;
                }
            }
        }
        .body-list {
            // display: flex;
            // height: 100%;
            height: 100vh;
            // margin-top: 46px;
            padding: 0;
            .list-country {
                padding: 10px;
                width: 90%;
                height: 100%;
                scrollbar-width: none;
                -ms-overflow-style: none;
                overflow-y:scroll;
                overflow-x:hidden;
                overflow: -moz-scrollbars-none;
                &::-webkit-scrollbar { 
                  display: none; /* Chrome Safari */
                  width: 0;
                  height: 0;
                }
                .country-item {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                }
            }
            .select-alphabet {
                position: fixed;
                right: 0;
                top: 0;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 46px;
                margin: 0 10px;
                span {
                    font-weight: bold;
                    padding: 2px 0;

                }
            }
        }
    }
}

.modal-comingsoon {
    height: 100vh;
    bottom: 0;
    position: fixed;
    z-index: 1030;
    width: 100vw;

    & > div {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: auto 350px;
        background: #282828eb;

        & > div:nth-child(2) {
            height: 350px;
            background: #282828;
            padding: 0 20px;
            border-radius: 20px 20px 0 0;
            box-shadow: 0 0 1rem 0.5rem #000000d1;
        
            .close-bar {
                padding: 20px;
                display: flex;
                justify-content: center;
        
                & > div {
                    height: 3px;
                    background: white;
                    width: 80px;
                }
            }
        
            .img-comingsoon {
                background: linear-gradient(45deg, #181818, transparent);
                margin: 0 auto;
                display: block;
                border-radius: 10px;
            }
        
            .desc-comingsoon {
                & > p, span {
                    color: white;
                    &:not(p:first-child) {
                        font-size: 12px;
                        margin: 0;
                    }
                }
        
                & > p:first-child {    
                    font-size: 14px;
                    font-weight: bold;
                    margin: 10px 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
        
                & > div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
        
                    & > span {
                        text-align: right;
                        color: #8F8F8F;
                    }
                }
            }
        }
    }
}
.btn-primary-interactive {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}