.modal-dialog {
    margin: 0rem;

    .modal-body-edited {
        padding: 0rem !important;
        padding-top: 40% !important;
    }
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 0rem;
    padding-top: 45%;
}

.modal-content {
    height: 100vh;
    border-radius: 0;
    background-color: #282828;
    color: white;
}


.player-modal {
    .modal-header {
        button {
            color: white !important;
            font-weight: 0 !important;
            opacity: 1 !important;
        }
    }

    .player-modal-container {
        .vjs-seek-button {
            position: absolute !important;
            display: none;
            bottom: 80px;
            transform: scale(2);
        }
    
        .vjs-seek-button:hover {
            display: block;
        }
    
        // .skip-back {
        //     left: 30%;
        // }
    
        // .skip-forward {
        //     left: 60%;
        // }
    }
}

.country-list-modal {
    margin: 0;
    .modal-content {
        border: none;
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        background: #282828;
        color: #ffffff;
        .navbar-header {
            background: #3a3a3a;
            display: flex;
            height: 46px;
            align-items: center;
            .back-icon {
                width: 15%;
                padding: 10px;
            }
            .search-text {
                width: 70%;
            }
            .search-action {
                width: 15%;
                text-align: center;
            }
        }
        .body-list {
            padding: 0;
        }
    }
}