.nav-home-container-v2 {
    color: #fff !important;

    .sticky-install-menu {
        background: white;
        height: 60px;
        color: #0C0C0C;

        .install-logo {
            width: 30px !important;
            height: 30px !important;
            margin: 5px !important;
            margin-top: 0px !important;
        }

        .install-description {
            font-size: 12px !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
        }
    }

    .nav-container {
        padding: 8px 16px !important;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
    }

    .nav-signup-item .nav-item {
        margin-bottom: -1px;
        width: 50%;
        text-align: center;
        color: #fff important;
    }
    .frmInput1 {
        padding-top: 40px;
    }
    .inpt-form {
        background: transparent;
    }
    .nav-tabs .nav-item {
        margin-bottom: -1px;
        width: 50%;
        text-align: center;
        color: #fff !important;
    }

    .nav-transparent {
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.92)) !important;
        box-shadow: none;
    }

    .back-arrow-transparent {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 100%;
        width: 35px;
        height: 35px;
        padding-left: 5px;
    }

    .left-top-link {
        width: 13%;
        .logo-top-wrapper {
            width: 100%;
        }
    }
    .middle-top {
        width: 87%;

        .search-input {
            border: none;
            border-radius: 20px;
            background-color: #d8d8d80f;
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.36px;
            color: #969696;
            padding: 4px 12px;
            display: flex;
            justify-content: space-between;
           
        }

        .search-input-placeholder {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}
.nav-menu-container {
    width: 100%;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-gap: 4px;
    padding: 15px 0 5px 0;
     // display: flex;
    // width: 100%;
    // flex-direction: row;
    // overflow-x: auto;
    // align-items: center;
    &::-webkit-scrollbar {
      display: none;
    }
    .btn-nav-menu {
        display: flex;
        position: relative;
        margin: 0 2px !important;
        border-radius: 20px;
        font-size: 10px;
        // padding: 5px 16px !important;
        // padding-right: 0 !important;
        justify-content: center;
        align-items: center;
        border-color: #3a3a3a !important;
        width: 100%;
        height: 2.7em;
        &:focus, &:active {
            border: none !important;
            box-shadow: none !important;
        }
        &:focus {
            // background-color: inherit !important;
            border: solid 1px #3a3a3a !important;
            // color: #6c757d !important;
        }
        &:active {
            background-color: #3A3A3A !important;
        }
        &:first-child {
            margin-left: 0 !important;
        }
        &:last-child {
            margin-right: 0 !important;
        }
        &.active {
            // background-color: #3a3a3a !important;
            border: 1px solid #A3E4FB !important;
            background: linear-gradient(0deg, rgba(157, 221, 243, 0.2) 0%, rgba(41, 186, 236, 0.2) 104.73%);
        }

        // p {
        //   margin: 0 !important;
        //   white-space: nowrap;
        //   font-size: 10px !important;
        // }
        // .icon-menu-top {
        //     position: absolute;
        //     left: -4px;
        // }
        // label {
        //     margin: 0;
        // }
    }
    .img-menu-icon {
        width: 10px;
        max-width: 10px;
        margin-right: 3px;
        max-height: 13px;
    }
}
.btn-outline-secondary {
    &:hover {
        background-color: inherit !important;
        border: solid 1px #3a3a3a !important;
        // color: #6c757d !important;
    }
}
