.nav-signup-item .nav-item {
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
    color: #fff important;
}
.frmInput1 {
    padding-top: 40px;
}
.inpt-form {
    background: transparent;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
    color: #fff important;
}
