.otp-input {
    text-align: center !important;
    width: 100% !important;
    margin-left: -5px;
}

.otp-input input {
    margin: 5px;
    border-radius: 0 !important;
    border-color: transparent !important;
    background-color: #282828 !important;
    border-bottom-color: white !important;
    color: white !important;
    caret-color: white !important;
}