.play-btn {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    position: absolute;
}

.play-btn-1 {
    @extend .play-btn;
    top: 27%;
    left: 45%;
    font-size: 2.5rem !important;
}

.play-btn-2 {
    @extend .play-btn;
    top: 10%;
    left: 40%;
    font-size: 24px;
}

.play-btn-4 {
    @extend .play-btn;
    top: 25%;
    left: 45%;
    font-size: 2.5rem !important;
}

.txt-slider-panel {
    color: #fff;
    border-left: 1px solid #DB2828;
    border-left-width: 2px;
    margin: 10px;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
    max-height: 46px;
    min-height: 46px;
    overflow: hidden;

    p {
        margin-bottom: 0;
    }
}

.pnl_horizontal_landscape .swiper-container::-webkit-scrollbar, 
.horizontal_landscape_large .swiper-container::-webkit-scrollbar, 
.pnl_horizontal .swiper-container::-webkit-scrollbar, 
.pnl_vertical .swiper-container::-webkit-scrollbar {
    display: none;
}

.pnl_horizontal_landscape, .pnl_horizontal, .pnl_vertical, .horizontal_landscape_large {
    .swiper-container {
        overflow: auto;
        white-space: nowrap;
        display: block;
        scrollbar-width: none;

        .swiper-slide {
            height: 100%;
            margin: 3px;
            position: relative;
            text-align: center;
            background: #171717;
            display: inline-block;

            img {
                width: 100%;
            }

            .ribbon {
                position: absolute;
                top: 0;
                left: 0;
                background-color: #fa262f;
                z-index: 1;
                padding: 4px 8px;
                font-size: 10px;
                color: white;
                border-bottom-right-radius: 3px;
                font-family: Helvetica;
            }
        }
    }
}

.pnl_horizontal_landscape {
    .swiper-slide {
        max-width: 100px;
        min-width: 100px;
    }
}

.pnl_horizontal {
    .swiper-slide {
        max-width: 88px;

        img {
            width: 100%;
            height: 135px;
        }
    }
}

.horizontal_landscape_large {
    .swiper-container {
        .swiper-slide {
            // background: transparent;
        }
    }
}

.homepage-content {
    margin-bottom: 20px;

    img {
        border-radius: 3px;
        object-fit: cover;
    }
}