.play-btn {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    position: absolute;
}

.play-btn-1 {
    @extend .play-btn;
    top: 27%;
    left: 45%;
    font-size: 2.5rem !important;
}

.play-btn-2 {
    @extend .play-btn;
    top: 10%;
    left: 40%;
    font-size: 24px;
}

.play-btn-4 {
    @extend .play-btn;
    top: 25%;
    left: 45%;
    font-size: 2.5rem !important;
}

.txt-slider-panel.no-bg {
    .txt-slider-panel-title,
    .txt-slider-panel-title + p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.txt-slider-panel {
    color: #fff;
    padding: 8px 10px;
    font-size: 11px;
    text-align: left;
    max-height: 73px;
    overflow: hidden;
    white-space: normal;

    .txt-slider-panel-cont {
        border-left: 2px solid red;
        padding-left: 0.5rem;

        .txt-slider-panel-title {
            font-size: 14px;
            font-weight: 600;
            margin-top: 1px;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    
        p {
            margin: 0;
            font-size: 11px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}

// LINE UP TYPES
$panels: 
    "pnl_horizontal_landscape", 
    "horizontal_landscape_large", 
    "pnl_horizontal", "pnl_vertical", 
    "pnl_video_square";
@each $panel in $panels {
    .#{$panel}{
        .swiper-container::-webkit-scrollbar {
            display: none;
        }

        .content-title{
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            padding-left: 14px !important;
            color: #FFFFFF;
        }
        
        .swiper-container {
            overflow: auto;
            white-space: nowrap;
            display: block;
            padding: 0px 0px 12px 12px;
    
            .swiper-slide {
                margin: 2px;
                position: relative;
                text-align: center;
                display: inline-block;
                vertical-align: top;
    
                img {
                    width: 100%;
                }
    
                .ribbon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #fa262f;
                    z-index: 1;
                    padding: 4px 8px;
                    font-size: 10px;
                    color: white;
                    border-bottom-right-radius: 7px;
                    font-family: Helvetica;
                }
            }
        }
    }
}

.pnl_video_square {
    .swiper-slide {
        width: 130px;
        height: 130px;
    }

    img {
        border-radius: 7px;
    }
}


.pnl_horizontal_landscape {
    .swiper-slide {
        max-width: 45.5%;
        min-width: 45.5%;
        border-radius: 5px;

    }
    .img-text-desc{
        border-radius: 7px;
    }
    img {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
}

.pnl_horizontal {
    .swiper-slide {
        max-width: 31%;
        
        img {
            width: 100%; 
            height: 184px;
        }
    }
}

.pnl_vertical{
    .swiper-container{
        .swiper-slide {
            .txt-slider-panel{
                txt-slider-panel-title{
                    font-size: 14px;
                }
            }
        }
    }
}

.homepage-content {
    margin-bottom: 20px;

    img {
        border-radius: 7px;
    }
}

@media only screen and (max-width: 400px) {
    .pnl_horizontal {
        .swiper-slide {
            max-width: 31%;
            
            img {
                width: 100%; 
                height: 162px;
            }
        }
    }
  }

  @media only screen and (max-width: 340px) {
    .pnl_horizontal {
        .swiper-slide {
            max-width: 31%;
            
            img {
                width: 100%; 
                height: 145px;
            }
        }
    }
  }