$primary-bg-color: #282828;
$primary-text-color: #979797;
$primary-font-family: Helvetica !important;
$default-text-color-login: #eee;
$primary-text-color-login: #DB2828;
$primary-btn-bg-color-login: #DB2828;
$primary-btn-border-color-login: #DB2828;
$text-placeholder-color-login: #a8a8a8;

.container-box-cpd {
    margin: 0px;
    background-color: $primary-bg-color;
    color: $primary-text-color;
    width: 100% !important;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
    padding: 0 !important;
}

.wrapper-box {
    margin-top: 70px !important;
}