$primary-bg-color: #282828;
$primary-text-color: #979797;
$primary-font-family: Helvetica !important;
$default-text-color-login: #eee;
$primary-text-color-login: #DB2828;
$primary-btn-bg-color-login: #DB2828;
$primary-btn-border-color-login: #DB2828;
$text-placeholder-color-login: #a8a8a8;

.container-box-cpd {
    margin: 0px;
    background-color: $primary-bg-color;
    color: $primary-text-color;
    width: 100% !important;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
    padding: 0 !important;
}

.wrapper-box {
    margin-top: 70px !important;
}

.program-item {
    width: 100%;
    border-bottom: 1px solid black;
}

.program-label {
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.program-title {
    color: white;
    margin-bottom: -5px;
    font-size: 12px;
}

.program-title-bottom {
    font-size: 12px;
    padding: 12px;
}

.program-subtitle {
    color: white;
    font-size: 10px;
}

.program-share-button {
    color: white;
}

.program-rounded-thumbnail {
    border-radius: 100%;
    border: 1px solid white;
    width: 50px;
    height: 50px;
}

.program-thumbnail {
    width: 100%;
    margin-top: 8px;
    height: 180px;
    object-fit: cover;
}

.row-edit {
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-edit {
    padding: 0 !important;
}

.col-edit .carousel {
    margin-top: 10px;
}

.col-edit .control-dots {
    padding: 0;
}

.col-edit .carousel-status {
    margin: 10px;
    margin-right: 25px;
}

.col-edit .slide {
    text-align: left;
}

.row-striped {
    background-color: #3a3a3a;
}