.list-menu-container {
    margin-top: 60px;
    border: none;
    margin-bottom: 27px;

    .list-group-item {
        border: 1px solid black;
        border-left: none;
        border-right: none;
        line-height: 1.2;
        font-size: 12px;
        padding: 14px 10px;

        .rounded-profile-picture {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 1px solid white;
        }

        .MuiSvgIcon-root {
            font-size: 1.3rem;
            margin-right: 5px;
        }
    }
}