.nav-signup-item .nav-item {
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
    color: #fff !important;
}
.frmInput1 {
    padding-top: 40px;
}
.inpt-form {
    background: transparent;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
    color: #495057 !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color:transparent; 
	border-bottom: 1px solid #DB2828
}
.nav-tabs .nav-link {
    border: 1px none transparent;
}

.addon {
    padding: 3px;
    border-width: 0.5px;
    border-color: #495057;
}

.addon-left {
    @extend .addon;
    border-right-color: transparent;
}

.addon-right {
    @extend .addon;
    border-left-color: transparent;
}

.addon-left-input {
    border-left-color: transparent !important;
}

.addon-right-input {
    border-right-color: transparent !important;
}



.block-btn {
    width: 100%;
}