/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 6, 2020, 10:48:23 AM
    Author     : root
*/

.sticky-ads{
    color:#fff;
    margin: 10px auto;
}

.sticky-ads-off {
    display: none;
}

.sticky-ads-on {
    position: fixed;
    bottom: 55px;
    z-index: 999999;
    left: 50%;
    transform: translateX(-50%);

    $close-button-height: 12px;

    .ads-close-btn {
        position: absolute;
        top: -#{$close-button-height};
        right: 0;
        background-color: #060606;
        border-radius: 3px;
        border: 1px solid white;
        width: 30px;
        height: $close-button-height;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;

        &::after {
            content: "Close";
        }
    }
}