/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 11, 2020, 12:26:21 PM
    Author     : root
*/

#home-stories {
    padding: 0 0 12px 12px;
    // position: absolute;
    // top: 60px;
}

#lineup-stories {
    padding: 10px 0;

    & > h2 {
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding-left: 12px;
    }
}

.stories-components {
    display: -webkit-box;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 0 12px 12px;

    &::-webkit-scrollbar {
        display: none;
    }

    .homestory {
        & > div:first-child {
            width: 104px;
            height: 104px;
        }
    }

    .lineupstory {
        height: 168px;
        width: 114px;
        position: relative;
        justify-content: flex-end;

        & > div:first-child {
            width: 52px;
            height: 52px;
        }

        .masked-storyimg {
            height: 168px;
            width: 114px;
            position: absolute;
            z-index: -1;
            border-radius: 10px;
            -webkit-mask-image: radial-gradient(circle, black 20%, transparent);
            mask-image: radial-gradient(circle, black 20%, transparent);;
        }
    }

    .storywrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 114px;
        margin: 0 3px;

        & > div:first-child {
            background: linear-gradient(135deg, #00FFFD, #FF5BD8);
            border-radius: 50%;
            margin: 5px;
            box-shadow: 3px 3px 5px #1a1a1a;
            display: flex;
            justify-content: center;
            align-items: center;
    
            & > img {
                border-radius: 50%;
                border: 5px solid #282828;
            }
        }

        & > label {
            font-size: 10px;
            color: white;
            text-align: center;
            font-weight: bold;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            height: 30px;
        }
    }
}

#modalview-stories {
    width: 100%;
    height: 100%;
    position: relative;

    .story-head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 21px 5px 0 5px;
        height: 71px;
        display: flex;
        justify-content: space-between;
        background: linear-gradient(180deg, #0000008f, transparent);

        & > div {
            display: flex;
            align-items: center;

            & > img {
                border-radius: 50%;
                box-shadow: 0 0 0.5rem black;
            }
    
            & > label {    
                color: white;
                font-size: 12px;
                margin: 0 0 0 5px;
                width: 250px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-shadow: 0 0 0.5rem BLACK;
            }
        }

        & > button {
            background: transparent;
            color: white;
            font-weight: bold;
            border: 1px solid;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 0;
        }
    }

    .progressbar-stories {
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
        padding: 9px 3px;
        z-index: 1;

        .progressbars {
            background: #2e2e2e;
            display: block;
            margin: 0 0.5%;
            height: 3px;
            width: 100%;
            border-radius: 3px;

            &.active {
                & > span {
                    background: white;
                    animation-play-state: running;
                }
            }

            & > span {
                display: block;
                width: 100%;
                height: 100%;
                animation-play-state: initial;
                animation: unset;
            }
        }
    }

    .stories-content {
        width: 100%;
        height: 100%;
        
        .content-noads {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        // .content-ads {
        //     width: 100%;
        //     height: 100%;
        // }

        .content-no-link {
            text-align: center;
            width: 200px;
            color: #d1d1d1;
            background: black;
            font-size: 12px;
            padding: 50px 0;
        }
    }

    .stories-cta {
        position: absolute;
        bottom: 40px;
        width: 100%;
        text-align: center;

        & > a {
            color: white;
            border: 1px solid;
            border-radius: 10px;
            padding: 5px 10px;
            background: #00000080;
            box-shadow: 0 0 0.5rem 0.2rem #00000080;
        }
    }
}

.modalview-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
    top: 0;
    background: black;

    .placeholder-story {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: -1;

        & > div {
            width: 50px;
            height: 50px;
            border: 10px solid #282828;
            border-radius: 50%;
            border-top: 10px solid #e11010;
            animation: rotate 1s infinite;
        }
    }
}

@keyframes rotate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@keyframes story-progress-bar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}