/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 11, 2020, 12:26:21 PM
    Author     : root
*/

// #zuck-modal {
//     outline: 0 !important;
//     overflow: hidden;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100%;
//     background: 

//     rgba(0, 0, 0, 0.75);
//     z-index: 100000;
//     font-size: 14px;
//     font-family: inherit;
// }

// #zuck-modal-content .story-viewer .slides .item  {
//     position: relative;
//     .media {
//         width: 100%;
//         height: auto;
//         position: absolute;
//         margin: 0;
//         top: 50%;
//         left: 0;
//         -ms-transform: translateY(-50%);
//         transform: translateY(-50%);
//     }
// }

.modal-stories{
    outline: 0 !important;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: black;
    z-index: 10000000;
    font-size: 14px;
    font-family: inherit;

    // .swiper {
    //     width: 100%;
    //     height: 100vh;
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    // }
      
    // .swiper-slide {
    //     background-position: center;
    //     background-size: cover;
    // }
      
    // .swiper-slide img {
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    // }
      
    // .swiper-container-3d {
    //     perspective: none;
    // }
}

.contain-circle{
    white-space: nowrap;
    overflow: auto;
}

.cont-circle{
    border-radius: 50%;
    background: radial-gradient(ellipse at 70% 70%,#ff5bd8 42%,#7ab1ec 59%,#00fffd 0) !important;
    position: relative !important;
    padding-bottom: calc(100% - 2px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.circle-box{
    display: inline-block;
    width: 30%;
    max-width: 30%;
    margin: 0 2px;
    vertical-align: top;
}

.circle-img{
    display: block;
    box-sizing: border-box;
    height: 95%;
    width: 95%;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    border-radius: 100% !important;
    border: 3px solid #282828!important;
    position: absolute !important;
    left: 2px !important;
    top: 2px !important;
    right: 2px !important;
    bottom: 2px !important;
}
