/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 6, 2020, 10:48:23 AM
    Author     : root
*/

.story-ads{
    color:#fff;
}

.story-ads-off {
    display: none;
}

.story-ads-on {
    width: 100%;
    position: fixed;
    z-index: 1029;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;

    $close-button-height: 12px;
}

#video-wrapper{
    display: none;
}