.top-notification-container {
    width: 100%;
    height: 20px;
    z-index: -10;
    position: relative;
    color: #eee;
    font-size: 11px;
    text-align: center;
    padding: 3px;
    margin-top: -80px;
    transition: transform 1s;
}

.notification-medium {
    height: 40px;
}

.notification-success {
    background-color: #4e8d05;
}

.notification-danger {
    background-color: #DB2828;
}

.notification-progress {
    background-color: #282828;
}

.notification-show {
    
    transform: translateY(80px);
}