.main-content {
    margin-top: 110px;
    margin-bottom: 30px;
    min-height: 480px;
    overflow-y: hidden;
    &.sticky-menu-category-active {
        margin-top: 152px;
        &.apps-mode {
            margin-top: 1rem !important;
            .navigation-container.sticky-menu-category {
                top: 0;
                @media (min-width: 220px) and (max-width: 300px) {
                    padding-top: 0.2rem;
                }
            }
        }
    }
    ul {
        padding-left: 5px;
    }

    .navigation-container {
        display: flex;
        align-items: center;
        color: #8f8f8f;
        font-size: 13px;
        letter-spacing: 0.36px;
        transition-timing-function: ease-in;
        transition: 0.1s;
        transform: translateY(0);
        ul {
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;
        }

        .add-tab-button {
            // width: 20%;
            text-align: center;
            padding-bottom: 5px;
        }

        .navigation-tabs {
            overflow: auto;
            display: block;
            white-space: nowrap;
            scrollbar-width: none;
            width: 90%;
            border-bottom: none;
            padding-top: 5px;
    
            .navigation-tabs-item {
                display: inline-block;
                width: 100px;
                text-align: center;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 8px;

                .item-link {
                    padding: 0;
                    color: #8f8f8f;
                }

                .item-link:hover {
                    border: transparent;
                }
            }
    
            .active {
                border-bottom: 3px solid #fa262f;
                
                .item-link {
                    color: white;
                }
            }
        }

        .navigation-tabs::-webkit-scrollbar {
            display: none;
        }
        &.sticky-menu-category {
            position: fixed;
            z-index: 20;
            width: 100%;
            background-color: #282828;
            top: 5rem;
            padding-top: 1.2rem;
            transition-timing-function: ease-out;
            transition: 0.4s;
            transform: translateY(0);
            @media (min-width: 220px) and (max-width: 300px) {
                padding-top: 2rem;
            }
        }
    }

    .article-list {
        padding: 0;

        a:hover {
            text-decoration: none;
        }
        
        .article {
            min-height: 120px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0;
            margin-top: 5px;
            margin-bottom: 5px;
            border: none;
            border-bottom: solid 1px #303030;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .article-description {
                display: flex;
                justify-content: space-between;

                .article-thumbnail-container {
                    margin-right: 10px;
                    width: 70%;
                    min-height: 80px;
                    overflow: hidden;

                    .article-thumbnail {
                        width: 100%;
                        min-height: 68px;
                        object-fit: cover;
                        border-radius: 3px;
                    }
                }

                .article-title-container {
                    height: 100%;
                    width: 100%;

                    .article-title {
                        font-size: 13px;
                        margin: 0;
                        line-height: 1.54;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        letter-spacing: normal;
                    }
                }
            }

            .article-source {
                display: flex;
                flex-direction: row;
                font-size: 11px;
                color: #8f8f8f;

                p {
                    margin-block-end: 0;
                }
            }
        }

        .article-full-width {
            min-height: 320px;
            margin-bottom: 15px;
            margin-top: 15px;
            padding: 0;
            border-bottom: solid 1px #303030;

            .article-description {
                display: block;

                .article-thumbnail-container-full-width {
                    margin-left: 0;
                    margin-right: 0;
                    overflow: hidden;
                    width: 100%;
                    min-height: 180px;

                    .article-thumbnail-full-width {
                        width: 100%;
                        min-height: 180px;
                        border-radius: 0;
                        object-fit: cover;
                    }
                }

                .article-title-container {
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .article-title {
                        font-size: 16px;
                        margin-left: 10px;
                        margin-right: 10px;
                        margin-top: 5px;
                        font-family: 'Open Sans', sans-serif;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.31;
                        letter-spacing: normal;
                        font-weight: 600;
                    }
                }
            }

            .article-source {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        .article-no-border {
            border: none;
        }
    }
}
.interest-topic_wrapper {
    .interest-topic_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        h1 {
            text-transform: capitalize;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;
            margin: 0;
        }
        span {
            font-size: 10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.43px;
            text-align: right;
            color: #ffffff;
            svg {
                width: 12px;
            }
        }
    }
    .interest-topic_list {
        margin: 10px;
        padding: 15px;
        border-radius: 7px;
        background-color: #3a3a3a;
        h5 {
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #ffffff;
        }
    }

}
.news-interest_wrapper {
    margin-top: 56px;
    margin-bottom: 44px;
    box-sizing: border-box;
    .news-interest_tags {
        ul {
            margin: 0;
            padding: 0 10px;
            list-style: none;
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #ffffff;
            li {
                padding: 10px 0;
                border-top: solid 0.5px #3a3a3a;
                border-bottom: solid 0.5px #3a3a3a;
                &:nth-child(5) {
                    border-top: solid 2px #3a3a3a;
                }
                &:last-child {
                    border-bottom: solid 2px #3a3a3a;
                }
            }
        }
    }
    .news-interest_thumbnail-wrapper {
        position: relative;
        width: calc(100% - 10px);
        height: 154px;
        margin: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
        
        .news-interest_thumbnail-title {
            content: '';
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            height: 63px;
            bottom: 0;
            padding: 7px;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,14,10,0) 100%, rgba(0,0,0,1) 100%);
            h1 {
                margin: 0;
                font-size: 9.4px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.18;
                letter-spacing: normal;
                color: #ffffff;
            }
            h2 {
                margin: 0;
                font-size: 7.9px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #8f8f8f;
                &span {
                    font-size: 7.9px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #8f8f8f;
                }
            }
        }
    }
    .news-interest_thumbnail {
        width: 100%;
        height: 100%;
    }
}
.list_tags_wrapper {
    margin-top: 42px;
    margin-bottom: 44px;
    box-sizing: border-box;
    padding: 0 13px;
    .list_tags_thumb {
      padding-top: 17px;
      display: flex;
      flex-wrap: nowrap;
      h1 {
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff;
        margin: 0;
      }
      h5, h6 {
        font-size: 11px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #8f8f8f;
        margin: 0;
      }
      h5 {
        font-weight: bold;
      }
      .lt_img {
        width: 108px;
        height: 108px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.3);
      }
      .lt_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 108px);
        padding-left: 14px; 
      }
    }
}