.content-trending-search{
    position: static;
    margin-top: 60px;
    width: 100%;
    height: 100%;
    color:#fff;
    font-size: 0.8rem;
    padding: 5px 10px;

    .result-content {
        .row {
            height: 105px;
            padding-left: 10px;
            margin-bottom: 1.2rem;
        }
    
        .col-6 {
            padding: 6px;
            height: 100%;
        }
    
        .list-item-thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
                        0 2px 2px rgba(0, 0, 0, 0.14),
                        0 3px 1px -2px rgba(0, 0, 0, 0.12);
            background-color: #171717;
        }
    
        .item-title {
            font-size: 15px;
            line-height: 1.2rem;
            margin: 0;
            display: block;
            padding-bottom: 0.5rem;
            min-height: 2rem;
            height: auto;
        }
    
        .item-subtitle {
            line-height: 1rem;
            margin-bottom: 0.5rem;
            font-weight: bold;
            font-size: 15px;
        }
    }

    .search-history {
        .row {
            margin-left: 0;
        }
    }

    .not-found-message {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 100px);
        opacity: 0.3;
    }
}