.content-trending-search{
    position: static;
    margin-top: 60px;
    width: 100%;
    height: 100%;
    color:#fff;
    font-size: 0.8rem;
    padding: 5px 10px;

    .result-content {
        .row {
            height: 105px;
            padding-left: 10px;
            margin-bottom: 1.2rem;
        }

        .col-6 {
            padding: 6px;
            height: 100%;
        }

        .list-item-thumbnail {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
                        0 2px 2px rgba(0, 0, 0, 0.14),
                        0 3px 1px -2px rgba(0, 0, 0, 0.12);
            background-color: #171717;
        }

        .item-title {
            font-size: 15px;
            line-height: 1.2rem;
            margin: 0;
            display: block;
            padding-bottom: 0.5rem;
            min-height: 2rem;
            height: auto;
        }

        .item-subtitle {
            line-height: 1rem;
            margin-bottom: 0.5rem;
            font-weight: bold;
            font-size: 15px;
        }
    }



    .not-found-message {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 100px);
        opacity: 0.3;
    }
}

.search-history {
    font-size: 14px;
    margin: 0 23px;
    font-weight: 400;
    letter-spacing: 0.48px;
    color: #969696;

    .row {
        margin-left: 0;
    }
}

.popular-search{
      margin:10px 0 0 13px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.48px;
      color:  #dadada;
      display: flex;

    &__wrapper{
        margin: 10px 0;
        cursor: pointer;

        &:hover{
          color: #dadada;
        }
    }

    &__icon{
        margin: 0 0 0 24px;
        color: #969696;
    }

    &__text{
        margin: 0 0 0 13px;
        font-size: 14px;
        letter-spacing: 0.48px;
        color: #969696;

        &:hover{
          color: #dadada;
        }
    }
}

.search-result{
  margin: 0 0 0 16px;
  color: #ffffff;

  &__title{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__desc{
    font-size: 12px;
    line-height: 1.83;
    margin-bottom: 35px;
  }

  &__image{
    margin: 0 auto;
    display: flex;
  }

}
