/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 21, 2020, 2:55:10 PM
    Author     : root
*/

.content-trending-search{
    position: static;
    margin-top: 80px;
    width: 100%;
    background-color: #171717;
    height: 100%;
    opacity: 0.3;
    color:#fff;
}