$primary-bg-color: #282828;
$primary-text-color: #979797;
$primary-font-family: Helvetica !important;
$default-text-color-login: #eee;
$primary-text-color-login: #DB2828;
$primary-btn-bg-color-login: #DB2828;
$primary-btn-border-color-login: #DB2828;
$text-placeholder-color-login: #a8a8a8;

.container-box {
    margin: 0px auto;
    background-color: $primary-bg-color;
    color: $primary-text-color;
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 30px;
    padding: 20px;
    margin-top: 70px;
}

.otp-input {
    text-align: center !important;
    width: 100% !important;
    margin-left: -5px;
}

.otp-input input {
    margin: 5px;
    border-radius: 0 !important;
    border-color: transparent !important;
    background-color: #282828 !important;
    border-bottom-color: white !important;
    color: white !important;
    caret-color: white !important;
}